name: Sync OCI Artifacts

on:
  workflow_dispatch:
  schedule:
    - cron: '0 0 * * *'

jobs:
  sync:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    strategy:
      matrix:
        include:
          - source: oci://ghcr.io/bank-vaults/helm-charts/vault-operator:1.23.0
            destination: docker://docker.io/khuedoan/helm-vault-operator:1.23.0
    steps:
      - name: Install Skopeo
        run: sudo apt-get update && sudo apt-get install -y skopeo

      - name: Login to registries
        env:
          DOCKERHUB_USERNAME: ${{ secrets.DOCKERHUB_USERNAME }}
          DOCKERHUB_TOKEN: ${{ secrets.DOCKERHUB_TOKEN }}
        run: |
          if [ -n "$DOCKERHUB_USERNAME" ] && [ -n "$DOCKERHUB_TOKEN" ]; then
            echo "$DOCKERHUB_TOKEN" | skopeo login docker.io --username "$DOCKERHUB_USERNAME" --password-stdin
          fi

      - name: Sync ${{ matrix.source }} to ${{ matrix.destination }}
        run: skopeo copy "${{ matrix.source }}" "${{ matrix.destination }}" --all
